

@using DepartmentPublicWorks.Models
@model UserModel

@{
	ViewBag.Title = "Sign in";
	Layout = null;
	ViewBag.color = "red";
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
	.back {
		background: #F2F1F1;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.div-center {
		width: 500px;
		height: 400px;
		position: absolute;
		left: 70%;
		right: 10%;
		top: 0;
		bottom: 15%;
		margin: auto;
		max-width: 150%;
		max-height: 100%;
		overflow: auto;
		padding: 1em 2em;
		display: table;
	}

	.div-centers {
		width: 1000px;
		height: 400px;
		position: absolute;
		left: 0;
		right: 30%;
		top: 0;
		bottom: 15%;
		margin: auto;
		max-width: 200%;
		max-height: 150%;
		overflow: auto;
		padding: 1em 2em;
		display: table;
	}

	div.content {
		display: table-cell;
		vertical-align: middle;
	}
	.footer {
		width: 100px;
		height: 50px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #000000;
        text-align: center;
}
	

</style>
<script type="text/javascript">

    function openRegisterView() {
        ajax({
            type: 'GET',
            url: "Register/Account",
            success: function (view) {
                }
            });
    }
</script>
<div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Black Point</a>
		</div>
		<div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Client Zone", "Index", "ClientZone")</li>
				<li>@Html.ActionLink("Career", "Careers", "DashBord")</li>
				<li>@Html.ActionLink("Blog", "Blog", "ClientZone")</li>
			</ul>
			<form class="navbar-form navbar-right">
				@Html.ActionLink("Sign Up for Black Point", "Register", "Account", new { @class = "btn btn-primary", @id = "logout" })
			</form>
		</div>
	</nav>
</div>

<div class="back">
	<div class="div-centers">
		<div class="panel panel-inverse">
			<div class="panel-heading"><h4>Black Point</h4></div>
			<div class="panel-body">
				<p><h3>Join Black Point</h3></p>
				<p>The best solution to help our goverment on daily services.</p>
			</div>
		</div>
	</div>
	<div class="div-center">
		<div class="panel panel-inverse">
			<div class="panel-heading"><h4>@ViewBag.Title</h4></div>
			<div class="panel-body">
				<div class="content">
					<section id="loginForm">
						@using (Html.BeginForm("GetUserAccess", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplete = "off", placeholder = @Html.DisplayNameFor(m => m.UserName) })
									@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
									@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									<div class="checkbox">
										@Html.CheckBoxFor(m => m.RememberMe)
									    @Html.LabelFor(m => m.RememberMe)
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									@Html.ActionLink("Recover Password", "RecoverPassword", "Account")
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									<input type="submit" value="Sign In for Black Point" class="btn btn-primary" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-offset-4 col-md-12">
									<font color="@ViewBag.color">@ViewBag.ErroMessage</font>
								</div>
							</div>
						}
					</section>
				</div>
			</div>
			</div>
		</div>
	</div>
<div class="footer"><strong></strong>.</div>
